.contenedor {
    margin: 8rem auto;
    width: 90vw;
}

.wrapperOpciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}