.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-clr-500);
    /* border: 1px solid blue; */
}

.navbar {
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* padding: var(--padding-reg); */
    width: clamp(min(10vw, 20rem), 90vw, max(90vw, 55rem));
}
.navbar a {
    color: var(--neutral-clr-100);
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.menuList {
    list-style-type: none;
    display: flex;
    /* border: 1px solid green; */
}

.menuList li {
    padding: 1.5em 0 1.5em 1em;
}

.logo {
    width: 8rem;
}

.logoutButton {
    /* Aplica los estilos de texto de los enlaces */
    color: var(--neutral-clr-100); /* Usa el mismo color que tus enlaces */
    font-weight: bold; /* Misma negrita que los enlaces */
    text-decoration: none; /* Elimina el subrayado por defecto del botón */
    background: none; /* Quita el fondo por defecto del botón */
    border: none; /* Quita el borde por defecto del botón */
    cursor: pointer; /* Indica que es clickeable */
    padding: 0; /* Elimina el padding por defecto del botón para que el `li` lo maneje */
    margin: 0; /* Elimina el margen por defecto del botón */
    font-size: inherit; /* Hereda el tamaño de fuente del padre */
    font-family: inherit; /* Hereda la fuente del padre */
}

.logoutButton:hover {
    font-weight: bold;
    text-decoration: underline; /* Agrega el subrayado al pasar el ratón, igual que los enlaces */
}