.container {
    display: grid;
    columns: 2;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    /* border: 1px solid red; */
}

.container .box:nth-child(1) {
    background-image: url('../../assets/imgs/24.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .box:nth-child(2) {
    background-color: var(--neutral-clr-0);
    color: var(--primary-clr-500);
}

.box {
    padding: 5.625rem 3.125rem;
    height: 100vh;
    min-height: max-content;
}